/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.ansible
.ansible
.env
.env.backup
composer.lock
composer.phar
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.bash_history
.bash_logout
.bash_profile
.bashrc
.viminfo
dump.rdb
docker-compose.override.yml
